@charset "UTF-8";
fieldset {
  border: 1px solid #ccc !important;
  padding: 1em !important;
  margin-bottom: 2em !important; }

legend {
  font-family: "Bitter", "Open Sans", arial, serif;
  font-size: 1.6em !important;
  margin-bottom: 10px !important;
  width: auto !important;
  padding: 0 0.5em !important; }

.form-row {
  max-width: 92%;
  margin: 0 auto;
  margin-bottom: 1.5em !important; }
  .form-row label {
    width: 100% !important;
    margin-right: 0 !important; }
  .form-row input[type=color], .form-row input[type=email], .form-row input[type=number], .form-row input[type=tel], .form-row input[type=text], .form-row input[type=url], .form-row select, .form-row textarea {
    width: 100% !important;
    max-width: 420px; }
  .form-row textarea {
    height: 120px; }
  .form-row p {
    margin-bottom: 5px; }
  .form-row .button {
    float: right; }
  .form-row .form-hint {
    color: #6f777b; }
  .form-row .optional {
    color: #6f777b; }
  .form-row .form-error {
    color: #CB0D07;
    width: 100%;
    display: block;
    margin-top: 5px; }
  .form-row .dob-col {
    display: inline-block;
    max-width: 90px;
    margin-right: 6px; }
    .form-row .dob-col input {
      width: 90px;
      max-width: 90px;
      min-width: 90px; }

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 0 !important; }

.checkbox label, .radio label {
  padding-left: 38px !important; }

@media (max-width: 768px) {
  .form-row {
    max-width: 100%;
    width: 100%; } }
.dob-approx label {
  width: auto !important; }

.registration-year label {
  width: auto !important;
  margin-right: 2% !important; }

.registration-year select {
  width: 146px !important;
  margin-right: 2% !important; }

.form-warning {
  outline: 1px solid #CB0D07 !important; }

.success-message {
  background-color: #D5EAEA !important;
  border-left: 4px solid #008484 !important; }

.error-message {
  background-color: #F8DFDD !important;
  border-left: 4px solid #CB0D07 !important; }

.button-back,
.form-step-2 .button,
.form-step-1 .button {
  display: none; }

.bs-wizard {
  margin-top: 40px; }

.arrow-steps {
  margin: 0 0 10px 0; }
  .arrow-steps ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0; }
    .arrow-steps ul li {
      font-size: 14px;
      list-style-type: none;
      list-style-image: none;
      color: #666;
      cursor: default;
      margin: 0 3px;
      padding: 6px 0 3px 0;
      width: 32%;
      float: left;
      position: relative;
      background-color: #e2e2e2;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 0.2s ease; }
      @media (max-width: 1141px) {
        .arrow-steps ul li {
          display: block;
          float: none;
          width: 100%; } }
      .arrow-steps ul li:before {
        right: auto;
        left: 0;
        border-left: 17px solid #fff;
        z-index: 0; }
  .arrow-steps span {
    position: relative;
    border-radius: 100%;
    background: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    color: black; }
    .arrow-steps spanbefore {
      opacity: 0;
      content: "✔";
      position: absolute;
      top: -2px;
      left: -20px; }

.arrow-steps li:after,
.arrow-steps li:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 17px solid #e2e2e2;
  z-index: 2;
  transition: border-color 0.2s ease; }
  @media (max-width: 1141px) {
    .arrow-steps li:after,
    .arrow-steps li:before {
      display: none; } }

.arrow-steps li:first-child:before {
  border: none; }

.arrow-steps li.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s; }

.arrow-steps li.current {
  color: #fff;
  background-color: #23468c; }
  .arrow-steps li.current:after {
    border-left: 17px solid #23468c; }
    @media (max-width: 1141px) {
      .arrow-steps li.current:after {
        display: none; } }

#preferred-contact-error {
  position: absolute;
  margin-top: -45px; }

#contact_email {
  margin-top: 20px; }

.form-data ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .form-data ul li {
    box-sizing: border-box;
    list-style-image: none;
    border-bottom: 1px solid #EFEFEF;
    padding: 5px 0 5px 0;
    margin: 0 0 0; }

.print_button {
  background: #008484;
  color: #ffffff;
  border: none;
  padding: .5em;
  min-width: 24px;
  margin-top: 1em;
  float: right; }
  .print_button:hover {
    background: #FCE45C;
    color: #000;
    text-decoration: underline; }

.reference-number h2 {
  margin: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#certificate_year-error {
  margin-left: -189px;
  z-index: 3; }

#certificate_month-error {
  margin-left: -94.5px;
  z-index: 2; }

#certificate_day-error, #certificate_year-error, #certificate_month-error {
  position: absolute;
  margin-top: 7px;
  width: 100%;
  display: block;
  z-index: 1; }

@media print {
  .breadcrumbs,
  .print_button,
  .cookieNotice {
    display: none; } }
