fieldset {
    border: 1px solid #ccc !important;
    padding: 1em !important;
    margin-bottom: 2em !important;
}
legend {
    font-family: "Bitter", "Open Sans", arial, serif;
    font-size: 1.6em !important;
    margin-bottom: 10px !important;
    width: auto !important;
    padding: 0 0.5em !important;
}
textarea {
    height: 120px;
}
.form-row p {
    margin: 0.4em 0;
}
.form-row .button {
    float: right;
}
.form-row .dob-col {
    display: inline-block;
    max-width: 90px;
}
.form-row .dob-col input {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
}
.dob-approx label {
    width: auto;
}
.registration-year label {
    width: auto !important;
}
.registration-year select {
    width: 146px !important;
    margin-right: 3% !important;
}
.form-hint {
    color: #6f777b;
}

.warning {
    border:1px solid red !important;
}

.error{
    display: none;

}

.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}